bot_token: 'token
owner_id: ['12345']
description: 'Bot Description Here'
command_prefix: '!'
default_status: '!help for a list of commands'
discord_bots_key: 'key'
carbon_key: 'key'
twitch_key: 'key'

user_agent: 'User-Agent/1.0.0 (Comment like link to site)'

shard_count: 1
shard_id: 0

db_host: 'localhost'
db_name: 'Bot_Name'
db_cert: 'cert.pem'
db_port: 28015
db_user: 'admin'
db_pass: 'password'
