bot_token: 'token'
owner_id: ['12345']
description: 'Bot Description Here'
command_prefix: '!'
default_status: '!help for a list of commands'
discord_bots_key: 'key'
carbon_key: 'key'
twitch_key: 'key'
youtube_key: 'key'
osu_key: 'key'
dev_server: 'https://discord.gg/123456'

user_agent: 'User-Agent/1.0.0 (Comment like link to site)'

db_host: 'localhost'
db_name: 'Bot_Name'
db_port: 28015
db_user: 'admin'
db_pass: 'password'
