MEMBER_JOIN: "Welcome to the '{0}' server, {1}!"
MEMBER_LEAVE: "{0} has left the server, I hope it wasn't because of something I said..."
SHUTDOWN: "Shutting down, I will miss you, {0}..."
RESTART_INIT: "Restarting; see you in the next life, {0}!"
RESTART_COMPLETE: "I have just finished restarting!"
RELOAD_CONFIG: "I've reloaded my configuration just like you've asked, {0}!"
NICKNAME_CHANGE: "Changed username to {0}"
STATUS_CHANGE: "Just changed my status to '{0}'!"
MODULE_LOAD: "I have just {1} the {0} module!"
LOADED: "loaded"
UNLOADED: "unloaded"
RELOADED: "reloaded"
USER_NOTIFICATIONS: "This server will now {0} if someone has joined or left!"
USER_NOTIFICATIONS_ON: "notify, in this channel, "
USER_NOTIFICATIONS_OFF: "omit notifications"
VALID_PERMISSION_LIST: "Valid permissions are:"
CUSTOMPERM_ADDED: "I have just added your custom permissions; you now need to have `{0}` permissions to use the `{1}` command!"
CUSTOMPERM_REMOVED: "I have just removed the custom permissions for {0}!"
RULE_ADDED: "I have just saved your new rule, use the rules command to view this server's current rules!"
RULE_REMOVE_INIT: "Your rules are:\n```\n{0}```Please provide the number of the rule you would like to remove (in a new message)."
RULE_REMOVE_COMPLETE: "I have just removed that rule from your list of rules!"
ERROR_BAD_ARGUMENT: "Please provide a valid argument to pass to the command: {}"
ERROR_INVALID_SUBCOMMAND: "Invalid subcommand passed: {0}"
ERROR_NO_PERMISSIONS: "You can't tell me what to do!"
ERROR_NO_CUSTOMPERMS_SERVER: "There are no custom permissions setup on this server yet!"
ERROR_NO_CUSTOMPERMS_COMMAND: "That command has no custom permissions setup on it!"
ERROR_NEED_CUSTOM_PERM: "You need to have the permission `{0}` to use the `{1}` command in this server."
ERROR_CUSTOMPERMS_NOCOMMAND: "That command does not exist! You can't have custom permissions on a non-existant command..."
ERROR_CUSTOMPERMS_INVALIDCOMMAND: "This command cannot have custom permissions setup!"
ERROR_COOLDOWN: "This command is on cooldown! Hold your horses! >:c\nTry again in {} minutes and {} seconds!"
ERROR_NOPM: "This command cannot be used in a private message, try it in a server I'm in instead?"
ERROR_INTERNAL: "Ack, I had an issue running this command!  Can you let {0.mention} know?"
ERROR_DEBUG_COMMAND_FAIL: "An error occurred while processing this request:"
ERROR_NSFW_REGISTERED: "This channel is already registered as 'nsfw'!"
ERROR_NSFW_NOT_REGISTERED: "This channel is not registered as a 'nsfw' channel!"
ERROR_NO_RULES: "This server currently has no rules on it! I see you like to live dangerously..."
ERROR_RULE_REMOVE_TIMEOUT: "You took too long...it's just a number, seriously? Try typing a bit quicker!"
ERROR_RULE_REMOVE_NAN: "That is not a valid rule number, try running the command again.  Your current rules are:\n```\n{}```"
ERROR_UNABLE_TO_SAVE: "I was unable to save this data, please don't be mad at me..."
IMAGE_SAVED: "Just saved a new {0} image! I now have {1} {0} images!"
DOGGO: "doggo"
SNEK: "snek"
THIS: "this"
NSFW_REGISTERED: "This channel has just been registered as 'nsfw'! Have fun you naughties~ ;)"
NSFW_DEREGISTERED: "This channel has just been unregistered as a nsfw channel!"
CORE:ERROR_INVALID_MONTH: "Please provide a valid month!"
CORE:UPTIME: "Uptime:"
CORE:ADDBOT: "Use this URL to add me to a server that you'd like!"
CORE:ERROR_DICE_NOTATION_MISMATCH: "Please provide the die notation in #d#!"
CORE:ERROR_DICE_MAX_COUNT: "I'm not rolling more than 10 dice, I have tiny hands!"
CORE:ERROR_DICE_MAX_SIDES: "What die has more than 100 sides? Please, calm down..."
CORE:DICE_ROLL: "{0} has rolled a {2} sided die and got the number {3}!"
CORE:DICE_ROLL_PLURAL: "{0} has rolled {1}, {2} sided dice and got the numbers {3}!"
INTERACTION:BATTLE: "battle"
INTERACTION:BOOP: "boop"
INTERACTION:ERROR_NO_USER_MENTIONED: "You must mention someone in the room, {0}!"
INTERACTION:ERROR_MULTIPLE_MENTIONS: "You cannot {1} more than one person at once, {0}!"
INTERACTION:ERROR_PREVENT_SUICIDE: "Why would you want to battle yourself?  {0}, suicide is not the answer!"
INTERACTION:ERROR_GODBOT: "I always win, {0}, don't even try it."
INTERACTION:ERROR_IN_BATTLE: "You or {1} is already in a battle, {0}!"
INTERACTION:ERROR_NOT_IN_BATTLE: "You are not currently in a battle. {0}!"
INTERACTION:ERROR_NO_BATTLE_REQUEST: "You are not currently being challenged to a battle, {0}!"
INTERACTION:BATTLE_REQUEST: "{0.mention} has challenged you to a battle {1.mention}\n{2}accept or {2}decline"
INTERACTION:BATTLE_DECLINE: "{0} has chickened out of a battle with {1}! What a loser they are~"
INTERACTION:ERROR_SELF_BOOP: "You can't boop yourself, {0}! Silly..."
INTERACTION:ERROR_BOT_BOOP: "Why the heck are you booping me, {0}? Get away from me! >:c"
INTERACTION:BOOPED: "{0.mention} has just booped you, {1.mention}! That's {2} time{3} now!"
LINKS:ERROR_DEFINITION_LENGTH_EXCEEDED: "```Error: Definition is too long for me to send```"
LINKS:ERROR_NO_SEARCH_RESULTS: "No results with that search term, {0}!"
LINKS:LOOK_UP_INIT: "Looking up an image on {0} with those tags..."
LINKS:e621: "e621"
LINKS:DERPIBOORU: "derpibooru"
LIVESTREAM:USER_ONLINE: "{0} has just gone live! View their stream at {1}"
LIVESTREAM:USER_OFFLINE: "{0} has just gone offline! Catch them next time they stream at {1}"
LIVESTREAM:URL_SAVED: "I have just saved your {0} URL, {1}, {2} channel will now send a notification when you go live!"
LIVESTREAM:URL_REMOVED: "I am no longer saving your {0} URL, {1}!"
LIVESTREAM:NOTIFICATION_CHANNEL_CHANGED: "I have just changed which channel will be notified when you go live, to `{0}`!"
LIVESTREAM:DEDICATED_ANNOUNCEMENT: "your dedicated announcement"
LIVESTREAM:NOTIFICATIONS_ON: "I will notify if you go live, {0}, you'll get a bajillion followers I promise~ c:"
LIVESTREAM:NOTIFICATIONS_OFF: "I will not notify if you go live anymore, {0}, are you going to stream some lewd stuff you don't want people here to see?~"
LIVESTREAM:STATS: "Livestream ({0}) stats for {1}:"
LIVESTREAM:ERROR_NO_URL: I do not have your {2} URL added {0}. You can save your {2} url with {1}{2} add"
LIVESTREAM:ERROR_INVALID_STREAM_NAME: "That {0} user does not exist! What would be the point of adding a nonexistant {0} user? Silly~"
LIVESTREAM:ERROR_ALREADY_NOTIFYING: "What do you want me to do, send two notifications? Not gonna happen, {0}, sorry~"
LIVESTREAM:ERROR_ALREADY_NOT_NOTIFYING: "I am already set to not notify if you go live! Pay attention, {0}!"
LIVESTREAM:PICARTO: "picarto"
LIVESTREAM:TWITCH: "twitch"
PLAYER:READY: "Ready to play audio in {0}!"
PLAYER:GET_TRACK_NAME: "*{0}* uploaded by *{1}* and requested by *{2}*"
PLAYER:GET_TRACK_LENGTH: "_[length: {0}m {1}s]_"
PLAYER:GET_TRACK_SKIPS: "_[skips: {0}/{1}]_"
PLAYER:NOW_PLAYING: "Now playing {0}"
PLAYER:NEXT_IN_QUEUE: "You are next in the queue!"
PLAYER:LIST_QUEUE: "Current songs in the queue:"
PLAYER:COUNT_QUEUE: "There are a total of {0} songs in the queue."
PLAYER:SONG_ENQUEUED: "Enqueued {0}"
PLAYER:VOLUME_CHANGED: "Set the volume to {:.0%}"
PLAYER:SKIP_REQUESTER: "Requester requested skipping song..."
PLAYER:SKIP_VOTES: "Skip vote passed, skipping song..."
PLAYER:SKIP_VOTE_ADDED: "Skip vote added, currently at [{0}/{1}]"
PLAYER:SKIP_MOD: "Song has just been skipped by a moderator."
PLAYER:ETA: "ETA till your next play is: {0}m {1}s"
PLAYER:ERROR_NOT_VOICE_CHANNEL: "This is not a voice channel..."
PLAYER:ERROR_ALREADY_JOINED: "Already in a voice channel..."
PLAYER:ERROR_USER_NOT_IN_CHANNEL: "You are not in a voice channel."
PLAYER:ERROR_USER_NOT_IN_CHANNEL_PLAY: "You are not currently in the channel; please join before trying to request a song."
PLAYER:ERROR_QUEUE_FULL: "The queue is currently full!  You'll need to wait to add a new song."
PLAYER:ERROR_QUEUE_EMPTY: "Nothing currently in the queue!"
PLAYER:ERROR_NOT_IN_QUEUE: "You are not in the queue!"
PLAYER:ERROR_UNSUPPORTED_URL: "Sorry, that's not a supported URL!"
PLAYER:ERROR_NOT_PLAYING: "Not playing any music right now..."
PLAYER:ERROR_ALREADY_SKIP_VOTED: "You have already voted to skip this song."
ROLES:LIST_ROLES: "Your server's roles are:"
ROLES:ROLE_REMOVE_INIT: "Please provide the list of members you want to remove a role from!"
ROLES:ROLE_ADD_INIT: "Please provide the list of members you want to add a role to!"
ROLES:ROLE_REMOVE_LIST: "Alright, please provide the roles you would like to remove from this member.  Make sure the roles, if more than one is provided, are separate by commas. Here is a list of this server's roles:"
ROLES:ROLE_ADD_LIST: "Alright, please provide the roles you would like to add to this member. Make sure the roles, if more than one is provided, are separate by commas. Here is a list of this server's roles:"
ROLES:ROLE_REMOVE_COMPLETE: "I have just removed the following roles:```\n{}``` from the following members:```\n{}```"
ROLES:ROLE_ADD_COMPLETE: "I have just added the following roles:```\n{}``` to the following members:```\n{}```"
ROLES:ROLE_SERVERREMOVE_INIT: "Which role would you like to remove from the server? Here is a list of this server's roles:"
ROLES:ROLE_SERVERREMOVE_COMPLETE: "I have just removed the role '{0}' from this server!"
ROLES:ROLE_SERVERROLE_CREATE_INIT: "Alright! I'm ready to create a new role, please respond with the name of the role you want to create."
ROLES:ROLE_SERVERROLE_CREATE_PERMS: "Sounds fancy! Here is a list of all the permissions available. Please respond with just the numbers, seperated by commas, of the permissions you want this role to have."
ROLES:ROLE_SERVERROLE_CREATE_SIDEBAR: "Do you want this role to be in a separate section on the sidebar? (yes or no)"
ROLES:ROLE_SERVERROLE_CREATE_MENTIONS: "Do you want this role to be mentionable? (yes or no)"
ROLES:ROLE_SERVERROLE_CREATE_COMPLETE: "We did it! You just created the new role '{0}'.\nIf you want to add this role to some people, mention them now!"
ROLES:ERROR_ROLE_TIMEOUT: "You took too long. I'm impatient, don't make me wait..."
ROLES:ERROR_ROLE_NO_USER: "I cannot modify someone's if you don't provide someone..."
ROLES:ERROR_ROLE_INVALID_ROLE: "Please provide a valid role next time!"
ROLES:ERROR_SERVERROLE_CREATE_NOPERMS: "I can't create roles in this server, do you not trust me? :c"
ROLES:ERROR_INVALID_NUMBERS: "You did not provide any valid numbers! Try better next time."
STATS:BOOP_COUNT: "{0}, you have booped {1} the most amount of times, coming in at {2} times."
STATS:GET_STATS: "Stats for {0}:\n\tRecord: {1}\n\tServer Rank: {2}/{3}\n\tOverall Rank: {4}/{5}\n\tRating: {6}"
STATS:GET_LEADERBOARD: "Battling leaderboard for this server:"
STATS:GET_LEADERBOARD_INDIVIDUAL: "#{0}) {1} (Rating: {2})"
STATS:GET_BOOP_LIST: "You have booped:"
STATS:GET_BOOP_INDIVIDUAL: "{0}: {1} times"
STATS:RETURN_STATUS: "bots.discord.pw statistics returned {0} for {1}."
STATS:ERROR_NO_BOOPS: "You have not booped anyone, {0}. Why the heck not...?"
STATS:ERROR_NO_BATTLE_RECORD: "That user has not battled yet!"
TAGS:TAG_UPDATED: "I have just updated the tag `{0}`! You can call this tag by entering {1}tag {0}."
TAGS:TAG_ADDED: "I have just added the tag `{0}`! You can call this tag by entering {1}tag {0}."
TAGS:TAG_REMOVED: "I have just removed the tag `{0}`!"
TAGS:ERROR_NONEXISTANT_TAG: "The tag {0} does not exist!"
TAGS:ERROR_NONEXISTANT_TAG_REMOVAL: "The tag {0} does not exist! You can't remove something if it doesn't exist..."
TAGS:ERROR_INCORRECT_FORMAT: "Please provide the format for the tag in: {0}tag add <tag> - <result>"